<template lang="pug">

div( class="p-5" )

	div( class="mx-auto mt-2 mb-10 max-w-150 text-4xl text-700" ) Генератор случайных паролей

	div( class="flex mt-6 mb-20 password_block" )
		div( class="text-3xl flex-1 overflow-hidden" ) {{ password }}
		div( class="flex ml-4" )
			div( class="copy_icon cursor-pointer " @click="copy()" )
				input( class="copy_input" type="text" ref="copy_input" )
			div( class="refresh_icon ml-2 cursor-pointer" :class="{ spin_animation: spin_animation }" @click="refresh()" )
	
	div( class="mx-auto mb-10 max-w-150" ) 
		Indicator( :length="length" )

	div( class="flex items-start mx-auto py-5 max-w-150" )
		
		div( class="mr-10" ) 
			Switcher( v-model="use_letters" label="Использовать буквы" class="mb-3" )
			Switcher( v-model="use_lowercase" label="Нижний регистр" class="mb-3 ml-6" )
			Switcher( v-model="use_uppercase" label="Верхний регистр" class="mb-5 ml-6" )
			Switcher( v-model="use_digits" label="Использовать цифры" class="mb-5" )
			Switcher( v-model="use_symbols" label="Использовать символы" class="mb-5" )

		div( class="flex-1 mb-5" )
			div( class="" ) Количество символов
			div( class="flex items-center" )
				div( class="w-6 text-2xl text-center" ) {{ length }}
				Slider( class="flex-1" :start_value="12" :min_value="1" :max_value="25" @value="generate_password($event)" )


</template>



<script>
import Slider from '@/components/Slider'
import Switcher from '@/components/Switcher'
import Indicator from '@/components/Indicator'

export default {

	name: 'Index',

	components: {
		Slider,
		Switcher,
		Indicator,
	},

	data() {
		return {
			length: 0,

			use_letters: true,
			use_lowercase: true,
			use_uppercase: false,
			use_digits: false,
			use_symbols: false,

			letters_arr: ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'],
			digits_arr: ['0','1','2','3','4','5','6','7','8','9'],
			symbols_arr: ['!','@','#','$','%','&','(',')','+','='],

			password: '',

			spin_animation: false,
		}
	},

	methods: {

		generate_password(length) {

			this.length = length === undefined ? this.length : length
			this.password = ''
			let kit = []

			kit = this.use_letters ? kit.concat(this.letters_arr) : kit
			kit = this.use_digits ? kit.concat(this.digits_arr) : kit
			kit = this.use_symbols ? kit.concat(this.symbols_arr) : kit

			for (let i = 0; i < this.length; i++) {

				let pass_item = kit[this.random_int(0, kit.length)]

				if ( this.use_lowercase === true && this.use_uppercase === true ) {
					this.password += this.random_int(0, 2) ? pass_item : pass_item.toUpperCase()
				}
				else if ( this.use_lowercase === false && this.use_uppercase === true ) {
					this.password += pass_item.toUpperCase()
				}
				else if ( this.use_lowercase === true && this.use_uppercase === false ) {
					this.password += pass_item.toLowerCase()
				}
				else {
					this.password += pass_item
				}
			}

		},

		random_int(min, max) {
			min = Math.ceil(min)
			max = Math.floor(max)
			return Math.floor(Math.random() * (max - min)) + min
		},

		spin_animation_run() {
			this.spin_animation = false
			setTimeout(() => {
				this.spin_animation = true
			}, 0)
		},

		refresh() {
			this.generate_password()
			this.spin_animation_run()
		},

		copy() {
			this.$refs.copy_input.value = this.password
			this.$refs.copy_input.select()
			document.execCommand("copy")
		},
	},

	watch: {

		use_letters(new_val) {
			if ( new_val === false ) {
				this.use_lowercase = false
				this.use_uppercase = false
			}
			if ( new_val === true && this.use_uppercase === false ) {
				this.use_lowercase = true
			}
			if ( new_val === false && this.use_digits === false && this.use_symbols === false ) {
				this.use_digits = true
				this.use_symbols = true
			}
			this.generate_password()
		},

		use_lowercase(new_val) {
			if ( new_val === true && this.use_letters === false ) {
				this.use_letters = true
			}
			if ( new_val === false && this.use_uppercase === false ) {
				this.use_letters = false
			}
			this.generate_password()
		},

		use_uppercase(new_val) {
			if ( new_val === true && this.use_letters === false ) {
				this.use_letters = true
			}
			if ( new_val === false && this.use_lowercase === false ) {
				this.use_letters = false
			}
			this.generate_password()
		},

		use_digits(new_val) {
			if ( new_val === false && this.use_letters === false && this.use_symbols === false ) {
				this.use_letters = true
			}
			this.generate_password()
		},

		use_symbols(new_val) {
			if ( new_val === false && this.use_digits === false && this.use_symbols === false ) {
				this.use_letters = true
			}
			this.generate_password()
		},

	},

}
</script>



<style lang="scss" scoped>

.refresh_icon {
	width: 40px;
	height: 40px;
	background-image: url(../assets/images/refresh_icon.svg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.copy_icon {
	position: relative;
	width: 40px;
	height: 40px;
	background-image: url(../assets/images/copy_icon.svg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	transition: transform 0.15s;

	&:active {
		transform: scale(1.2);
	}
}

.copy_input {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	opacity: 0;
	cursor: pointer;
}

.password_block {
	margin: 0 auto;
	padding: 10px;
	max-width: 600px;
}

.spin_animation {
	animation: spin 0.4s linear 1 forwards;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

</style>