<template lang="pug">

div( class="indicator__wrap" )
    div( class="indicator" :class="class" )

</template>



<script>
export default {

    name: 'Indicator',

    props: {
        length: {
            type: Number,
            default: null
        },
    },

    data() {
        return {
            class: '',
        }
    },

    watch: {
        length(new_val) {
            if ( new_val < 4 ) {
                this.class = 'indicator__none'
            }
            else if ( new_val <= 4 && new_val < 7 ) {
                this.class = 'indicator__bg_red'
            }
            else if ( new_val <= 7 && new_val < 9 ) {
                this.class = 'indicator__bg_yellow'
            }
            else if ( new_val <= 9 && new_val < 12 ) {
                this.class = 'indicator__bg_light_green'
            }
            else if ( new_val <= 12 ) {
                this.class = 'indicator__bg_green'
            }
        }
    },
    
}
</script>



<style lang="scss" scoped>

.indicator {
    height: inherit;
    transition: width 0.3s;

    &__wrap {
        width: 100%;
        height: 3px;
        background-color: #eee;
    }

    &__none {
        width: 0%;
        background-color: #f44336;
    }

    &__bg_red {
        width: 25%;
        background-color: #f44336;
    }

    &__bg_yellow {
        width: 50%;
        background-color: #ff9800;
    }

    &__bg_light_green {
        width: 75%;
        background-color: #8bc745;
    }

    &__bg_green {
        width: 100%;
        background-color: #558919;
    }

}

</style>