<template lang="pug">

div( class="slider__wrap" ref="wrap" )
	div( class="slider__track" ref="track")
		div( class="slider__spot"
			ref="spot"
			@mousedown.left="mousedown = true"
			@mouseup.left="mousedown = false"
			@touchstart="mousedown = true"
			@touchend="mousedown = false"
		)
		div( class="slider__subtrack" ref="subtrack" )

</template>



<script>
export default {

	name: 'slider',

	props: {

		start_value: {
			type: Number,
			default: 0
		},

		min_value: {
			type: Number,
			default: 0
		},

		max_value: {
			type: Number,
			default: 100
		},

	},

	mounted () {
		this.init()
		window.addEventListener('mousemove', this.move)
		window.addEventListener('touchmove', this.move)
		window.addEventListener('mouseup', this.fix_mousedown)
		window.addEventListener('touchend', this.fix_mousedown)
	},

	beforeDestroy() {
		window.removeEventListener('mousemove', this.move)
		window.removeEventListener('touchmove', this.move)
		window.removeEventListener('mouseup', this.fix_mousedown)
		window.removeEventListener('touchend', this.fix_mousedown)
	},
	
	data() {
		return {
			mousedown: false,

			track_width: null,
			track_start_x: null,
			track_end_x: null,

			spot_width: null,

			value: null,
			old_value: null,
		}
	},

	methods: {

		init() {
			this.track_width = this.$refs.track.clientWidth
			this.spot_width = this.$refs.spot.clientWidth
			this.track_start_x = this.$refs.wrap.offsetLeft + this.$refs.track.offsetLeft
			this.track_end_x = this.track_start_x + this.track_width

			let item_width = this.track_width / (this.max_value - this.min_value)
			this.$refs.spot.style.left = this.start_value * item_width + 'px'
			this.$refs.subtrack.style.width = this.start_value * item_width + 'px'
			this.value = this.start_value
			this.$emit('value', this.start_value)
		},

		move(e) {

			let pageX = e.type ===  'touchmove' ? e.changedTouches[0].pageX : e.pageX

			if ( this.mousedown === true ) {

				if ( pageX >= this.track_start_x && pageX <= this.track_end_x ) {
					this.$refs.spot.style.left = pageX - this.track_start_x + 'px'
					this.$refs.subtrack.style.width = pageX - this.track_start_x + 'px'
					this.calc_value(pageX - this.track_start_x)
				}

				if ( pageX < this.track_start_x ) {
					this.$refs.spot.style.left = '0px'
					this.$refs.subtrack.style.width = '0px'
					this.calc_value(0)
				}

				if ( pageX > this.track_end_x ) {
					this.$refs.spot.style.left = this.track_width + 'px'
					this.$refs.subtrack.style.width = '100%'
					this.calc_value(this.track_width)
				}
			}

		},

		fix_mousedown() {
			this.mousedown = false
		},

		calc_value(spot_position) {
			let item_width = this.track_width / (this.max_value - this.min_value)
			this.value = Math.floor(spot_position / item_width)
			if ( this.old_value !== this.value ) {
				this.old_value = this.value
				this.$emit('value', this.value + this.min_value)
			}
		},

	},

}
</script>



<style lang="scss" scoped>
@use "sass:math";

.slider {

	$spot_size: 20;

	&__wrap {
		position: relative;
		display: flex;
		align-items: center;
		height: 26px;
		padding-left: math.div($spot_size, 2) + #{px};
		padding-right: math.div($spot_size, 2) + #{px};
	}

	&__track {
		position: relative;
		flex: 0 0 100%;
		height: 4px;
		background: #afafaf;
		border-radius: 4px;
	}

	&__subtrack {
		position: absolute;
		left: 0;
		height: inherit;
		background-color: #219dd9;
	}

	&__spot {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		width: $spot_size+#{px};
		height: $spot_size+#{px};
		background: #219dd9;
		border-radius: 50%;
		z-index: 1;
	}

}

</style>