<template lang="pug">

div( class="switch" :class="{ on: modelValue }" )

    div( class="switch__track" @click="switched(!modelValue)" )
        div( class="switch__spot" )
    
    div( v-if="label" class="switch__label" ) {{ label }}

</template>



<script>
export default {
    
    name: 'switcher',

    props: ['modelValue', 'label'],

    methods: {
        switched(isOn) {
            this.$emit("update:modelValue", isOn)
        }
    }

}
</script>



<style lang="scss" scoped>

.switch {
    display: flex;

    $root: &;

    &__track {
        position: relative;
        margin-top: 3px;
        width: 40px;
        height: 21px;
        background-color: #afafaf;
        border-radius: 21px;
        cursor: pointer;
    }

    &__spot {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        transition: left 0.15s;
    }

    &__label {
        flex: 1;
        margin-left: 10px;
    }

    &.on {

        #{$root}__track {
            background-color: #219dd9;
        }

        #{$root}__spot {
            left: 22px;
        }
    }
    
}

</style>